{% extends 'layouts/main.twig' %}

{% block main %}
    <div class="Header">
      {{ thumbnail|raw }}
    </div>
    <h1>{{title}}</h1>
    <div>{{ wpautop(content)|raw }}</div>
{% endblock %}

{% block galleryImage %}

{% endblock %}
