// @import "node_modules/bootstrap/scss/bootstrap";

$blue : #6188C4;
$white : #FFFFFF;
$red : #D06668;
$grey : #F2F2F2;

body {
  background-color: $grey;
}

.content {
width: 100%;
}

@import "header.scss";
@import "list_article.scss";
@import "footer.scss";
