<!DOCTYPE html>
<html lang="fr">
<head>

		<meta charset="UTF-8">
        <link rel="stylesheet" href="style.css" />
        <title>{{title}} - Les archers du Vert-Galant</title>

</head>
<body>
	<header>
		<div class="menu">{{ fn('wp_nav_menu', {'theme_location' : 'header-nav'}) }}</div>
	</header>